<!-- Footer -->
<footer class=" page-footer font-small indigo {{getClassName()}}">

    <!-- Footer Links -->
    <div class="container text-center text-md-left ">
  
      <!-- Grid row -->
      <div class="row ">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Heaerie</h5>
  
          <ul class="list-unstyled">
            <li>
              <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Board of Directors"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Careers"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Industries"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Corporate Responsibility"></app-footer-link>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none ">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Services</h5>
  
          <ul class="list-unstyled">
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Matrimony Service"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Mail Services"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Data Services"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Cloud Services"></app-footer-link>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Techologies</h5>
  
          <ul class="list-unstyled">
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Dockers/Lxd Containers"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Angular"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Apache Kafka"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Spring Boot"></app-footer-link>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Lanuages</h5>
  
          <ul class="list-unstyled">
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="c/c++"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Java"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="nodejs"></app-footer-link>
            </li>
            <li>
                <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="#!" name="Type Scripts"></app-footer-link>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:

        <app-footer-link C={{LINKC}} B={{LINKB}} F={{LINKF}} url="https://heaerieglobalsolutions.com" name="heaerie global solutions us corporation, All Rights Reserved."></app-footer-link>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->