@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

$primary-color: #036;

.header {
  background-color: invert($primary-color, 80%);
}

.error {
  border: 1px #f00;
  background-color: #fdd;

  &--serious {
    @extend .error;
    border-width: 3px;
  }
}


$sizes: 40px,
50px,
80px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}



$theme-colors: ("success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
);

.alert {
  // Instead of $theme-color-#{warning}
  background-color: map-get($theme-colors, "warning");
}


@font-face {
  font-family: 'Lato';
  src: url("~/assets/font/Lato-Black.ttf") format("truefont"),
    url("~/assets/font/Lato-BlackItalic.ttf") format("truefont");

}

@font-face {
  font-family: 'Sofia';
  src: url("~/assets/font/Sofia-Regular.otf") format("opentype");

}

body {
  font-family: 'Lato', 'Lato-Black';
}


$ussHeight : ("H1" : 9vh,
  "H2" : 18vh,
  "H3" : 27vh,
  "H4" : 36vh,
  "H5" : 45vh,
  "H6" : 54vh,
  "H7" : 63vh,
  "H8" : 72vh,
  "H9" : 81vh,
  "H10" : 90vh,
  "H11" : 99vh);


$ussWidth : ("W1" : 8.3vw,
  "W2" : 16.6vw,
  "W3" : 24.9vw,
  "W4" : 33.2vw,
  "W5" : 41.5vw,
  "W6" : 54vh,
  "W7" : 63vh,
  "W8" : 72vh,
  "W9" : 81vh,
  "W10" : 90vh,
  "w11" : 99vh,
  "w12" : 99vh);


$fontSizes : ("F1" : 10px,
  "F2" : 15px,
  "F3" : 18px,
  "F4" : 25px,
  "F5" : 30px,
  "F6" : 35px,
  "F7" : 50px);

$backGroundColors : ("B1" : #FFFFFF,
  "B2" : rgb(227, 38, 25),
  "B3" : rgb(77, 77, 77),
  "B4" : #4d518d,
  "B5" : #29794c,
  "B6" : #AAAAAA,
  "B7" : #dadd71);

$borderForBackGroundColors : ("B1" :#d9d9d9,
  "B2" : #d9d9d9,
  "B3" : rgb(210, 204, 204),
  "B4" : #4d518d,
  "B5" : #332972,
  "B6" : rgb(179, 32, 32),
  "B7" : #4f5020);

$backGroundColorsHover : ("B1" : rgb(223, 223, 223),
  "B2" : rgb(237, 80, 69),
  "B3" : rgb(46, 46, 46),
  "B4" : #323787,
  "B5" : #13743d,
  "B6" : rgb(79, 78, 78),
  "B7" : #bbbd74);



$fontColors : ("C1" : #000000,
  "C2" : #ffffff,
  "C3" : #ffffff,
  "C4" : #000000,
  "C5" : #ebb5b5,
  "C6" : #FF8000,
  "C7" : #bed8d7);


$fontColorsHover : ("C1" : #360f7b,
  "C2" : #eed0d0,
  "C3" : #d5cccc,
  "C4" : #3a2626,
  "C5" : #946337,
  "C6" : #FF8000,
  "C7" : #1b4341);

.box {

  -webkit-box-shadow: 1px -3px 9px -5px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 1px -3px 9px -5px rgba(0, 0, 0, 0.51);
  box-shadow: 1px -3px 9px -5px rgba(0, 0, 0, 0.51);
}

.NoMargin {
  -webkit-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
}

@each $colorKey,
$colorValue in $fontColors {

  @each $bgKey,
  $bgValue in $backGroundColors {

    @each $fontKey,
    $fontValue in $fontSizes {
      @debug($fontKey);
      @debug($fontValue);
      @debug(#{$colorKey}#{$bgKey}#{$fontKey});
      @debug(#{$colorValue} +"|"+ #{$bgValue} + "|"+ #{$fontValue});

      //@debug(map-get($fontSizes, $fontSize));
      .#{$colorKey}#{$bgKey}#{$fontKey} {
        background: $bgValue;
        color: $colorValue;
        font-size: $fontValue;
        padding: 5px;
        margin: 15px;
        opacity: 0.85;
        font-family: "Work Sans", sans-serif;
        outline: none;
      }

      .#{$colorKey}#{$bgKey}#{$fontKey}:hover {
        background: map-get($backGroundColorsHover, $bgKey);
        color: map-get($fontColorsHover, $colorKey);
        font-size: $fontValue;
        padding: 5px;
        margin: 15px;
        opacity: 0.85;
        font-family: "Work Sans", sans-serif;
        outline: none;
      }



      .#{$colorKey}#{$bgKey}#{$fontKey}Button {
        background: $bgValue;
        color: $colorValue;
        font-size: $fontValue;
        font-family: "Work Sans", sans-serif;
        margin: 0px 15px 0px 0px;
        -webkit-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
        outline: none;
        border-top-width: 0.5px;
        border-right-width: 0.5px;
        border-bottom-width: 0.5px;
        border-left-width: 0px;
        border-color: map-get($borderForBackGroundColors, $bgKey)
      }


      .#{$colorKey}#{$bgKey}#{$fontKey}RightNoMargin {
        background: $bgValue;
        color: $colorValue;
        font-size: $fontValue;
        font-family: "Work Sans", sans-serif;
        padding: 0px 0px 0px 15px;
        margin: 15px 0px 15px 15px;
        @extend .NoMargin;
        outline: none;
        border-top-width: 0.5px;
        border-right-width: 0px;
        border-bottom-width: 0.5px;
        border-left-width: 0.5px;
        border-color: map-get($borderForBackGroundColors, $bgKey)
      }


      button.#{$colorKey}#{$bgKey}#{$fontKey}Button:hover {
        background: $bgValue;
        color: $colorValue;
        font-size: $fontValue;
        font-family: "Work Sans", sans-serif;
        outline: none;
      }


      .#{$colorKey}#{$bgKey}#{$fontKey}Box {
        background: $bgValue;
        color: $colorValue;
        font-size: $fontValue;
        padding: 5px;
        margin: 15px;
        border: rgb(77, 77, 77);
        border-width: 1px 1px;
        opacity: 0.85;
        font-family: "Work Sans", sans-serif;

        outline: none;
        @extend .box;
      }

      .#{$colorKey}#{$bgKey}#{$fontKey}BoxButtom {
        background: $bgValue;
        color: $colorValue;
        font-size: $fontValue;
        padding: 5px;
        margin: -15px 15px 15px 15px;
        border: rgb(77, 77, 77);
        border-width: 1px 1px;
        opacity: 0.85;
        font-family: "Work Sans", sans-serif;
        -webkit-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
        outline: none;
      }
    }
  }
}

@each $heightKey,
$heightValue in $ussHeight {
  .#{$heightKey} {
    height: $heightValue;
  }
}
