<div class="row {{getClassName()}} moasic-padding">
  <div class="col-9 margin moasic-padding">
    <app-moasic-large B="B1" F="F3" C="C1" title="Free Shipping on Every Deal, Every Day."
      imageId1="../../../assets/img/tomato_green.png" imageId2="../../../assets/img/tomato_red.png"
      imageId3="../../../assets/img/tomato_green.png" subTitle="Plus, guaranteed  best price" link1="Shop Deals"
      link2="test2"></app-moasic-large>
  </div>
  <div class="col-3 margin moasic-padding">
    <app-moasic-small B="B1" F="F3" C="C1" title="Hot of the day"
      imageId1="../../../assets/img/tomato_green.png" subTitle="" link1="Show">
    </app-moasic-small>
  </div>
</div>