<app-product-tile [product]="item">
        
</app-product-tile>


<div class="row moasic-padding">
  <div class="col-12 moasic-padding">
    <div > "Cart : {{cartStatus}}"</div>
  </div>
</div>

<div class="row moasic-padding">
  <div class="col-12 moasic-padding">
    <app-rating B="B1" F="F2" C="C2" currentRate={{item.rating}}></app-rating>
  </div>
</div>
<div class="container moasic-padding box">
  <div class="row moasic-padding">
    <div class="col-12 moasic-padding">
      <app-title B="B1" F="F2" C="C1" value="${{item.currentPrice}} for {{item.wieght}}{{item.weightScale}} / ${{item.currentPrice/item.wieght}} per 1{{item.weightScale}}">
      </app-title>
      </div>

    <!--div-- class="col-12 moasic-padding">
            <app-title B="B1" F="F2" C="C2" value="${{item.currentPrice/item.wieght}} per 1 {{item.weightScale}}">
            </app-title>
    </!--div-->
  </div>
  <div class="row moasic-padding">
    <div class="col-12 moasic-padding">
      <app-title B="B1" F="F2" C="C2" value="After ${{item.discount}} OFF"></app-title>
    </div>
    <div class="col-12 moasic-padding"> 
      
        <button class="btn moasic-button" (click)=addToCart(item) >Add to cart
            <fa-icon [icon]="faCartPlus"></fa-icon>
        </button>

        <app-cart-button  (cartButton)="addToCart($event)"  [item]="item"></app-cart-button>
   
  </div>
  </div>
</div>
