<div class="row tableRow">
    <div class="clearfix visible-xs"></div>
    <div class="clearfix visible-sm"></div>

    <div class="col-md-2 col-sm-2 col-xs-2">
      <div class="row tableRow">
        <div class="col-md-3 col-sm-2 col-xs-2">
          <input type="checkbox">
        </div>
        <div class="col-md-3 col-sm-2 col-xs-2">
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-2">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
        </div>

        <div class="col-md-3 col-sm-2 col-xs-2">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <label class="clabel"> Duraimurugan Govindaraj </label>
    </div>
    <div class="col-md-6 col-sm-2 col-xs-2">

      <b> Test Mail</b> : <i> This is test</i>

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      2 min
    </div>
  </div>