<!--div-- class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
<--div-->

 

<app-menu-panel  B="B1" F="F3" C="C1" brandName="INDIAN SPICES" (addedProduct)="addProduct($event)"   (addedLink)="addLink($event)" [listA]=listA inputJson={{menuItemsJson}} [cartList]=cartList></app-menu-panel>
<br>
<br>
<br>
<br>

  <!--nav-- aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </!--nav-->
  Delivery ZIP Code: 20152 Change
 
  <app-slide-show></app-slide-show>
  <app-mosaic B="B1" F="F3" C="C1" link1="test1" link2="test2"   [product1]="product1" [product2]="product2" [product3]="product3" [product4]="product4"> </app-mosaic>
  <app-product-tiles B="B1" F="F3" C="C1"  [productList]=productList></app-product-tiles>
  <app-list-view (addedProduct)=addProduct($event) [products]=productList></app-list-view>
  <app-map-basic></app-map-basic>