<div class="container moasic-padding box">
        <div class="row">
          <div class="col-sm align-middle">
            <app-title B="{{B}}" F="F2" C="{{C}}" value="{{title}}"></app-title>
            <app-title B="{{B}}" F="F2" C="C2" value="{{subTitle}}"></app-title>
            <button class="btn moasic-button">{{link1}}
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
          </div>
          <div class="col-sm">
            <div class="container">
              <div class="row">
                <div class="col-sm align-middle">
                      <app-product-tile imageId="{{imageId1}}"></app-product-tile>
                </div>
              </div>
            </div>
      
          </div>
      
        </div>
      </div>