<p>basic-elements works!</p>

<p> including b1</p>
<app-element B="B1" F="F1" C="C1"> </app-element>
<app-element B="B2" F="F2" C="C2"> </app-element>
<app-element B="B3" F="F3" C="C3"> </app-element>
<app-element B="B4" F="F4" C="C4"> </app-element>
<app-element B="B5" F="F5" C="C5"> </app-element>



Menu Bar
<app-element B="B1" F="F6" C="C1"> </app-element>

Menu:
<app-element B="B3" F="F4" C="C2"> </app-element>

LoginPanel:
<app-menu-panel  B="B4" F="F6" C="C2" body="Test"></app-menu-panel>
Input:
<app-input-text-element  B="B7" F="F4" C="C4" modelName="username" ></app-input-text-element>

Button:
<app-input-button-element B="B5" F="F4" C="C3" valueName="login"></app-input-button-element>
