@import "../element.component.scss";

.cbutton {
    padding : 14px 28px;
    border: 1;
    margin: 30px 5px;
    box-shadow: 0px 0px;
    -moz-box-shadow: 0px 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    opacity: 1;

}