<nav class="navbar navbar-expand-lg fixed-top {{getClassName()}}Box W1">
  <a class="navbar-brand style='color:{{C}}'" routerLink="#">{{brandName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav style='color:{{C}}' my-2 my-lg-0" *ngFor="let item of menuItems">
      <a class="nav-item nav-link active {{getClassName()}}" routerLink="item.link">{{item.name}} <span
          class="sr-only">(current)</span></a>
    </div>

  </div>
   <div class="form-inline my-2 my-lg-0">
        <app-search-box></app-search-box>
    </div>
    <div>
      <app-model addedProduct="addedProduct($event)" [cartList]="cartList"></app-model>
    </div>

</nav> 